<%= form_with(model: flight, local: true) do |form| %>
  <% if flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% flight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :origin %>
    <%= form.text_field :origin, id: :flight_origin %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date, id: :flight_date %>
  </div>

  <div class="field">
    <%= form.label :destination %>
    <%= form.text_field :destination, id: :flight_destination %>
  </div>

  <div class="field">
    <%= form.label :Plane_id %>
    <%= form.text_field :Plane_id, id: :flight_Plane_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
